header {
  background-color: #31baacd3;
  padding: 5px; /* Aumenta el padding para dar más espacio alrededor del texto */
  text-align: center;
  position: relative;
}

.titulo {
  font-family: 'Dancing Script', cursive; /* Aplica una fuente cursiva */
  font-size: 50px; /* Ajusta el tamaño de la fuente */
  color: #31baacd3;
  margin: 0;
  line-height: 1.2; /* Ajusta la altura de línea para centrar verticalmente */
  display: inline-block;
  vertical-align: middle; /* Centra verticalmente en relación con el contenedor */
  padding: 0px; /* Añade un padding horizontal para ajustar el espacio */
}

header::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


  footer {
    background-color:#31baacd3; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
  }
  
  /*Estilo del titulo*/
  header {
    background-color: #31baacd3;
    color: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  /*CAMBIAR EL COLOR DE LA  LINEA GRIS*/
  nav {
    background-color: #676e66;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  /*CAMBIAR EL COLOR DEL CONTENIDO DE LOS CONTENIDOS*/
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /*CAMBIAR EL COLOR DE LA TABLA DEL MENU */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#31baad75;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .title{
   background-color: #31baacd3; 
   width: 100%;
   height: 90px;
   text-align: center;
   font-family: Hello Valentica;
   font-size:70px;
   flex:1;
  }
  /*CAMBIAR EL COLOR DEL MENÚ DESPEGABLE */
  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* CAMBIAR EL FONDO DEL MENU DESPEGABLE*/
  .dropdown-content a:hover {
    background-color: #444;
  }
  section {
    display: none;
    padding: 20px;
  }
  section img {
    max-width: 100%;
    height: auto;
  }
  /* PARA EL FONDO DE INICIO*/
  #inicio {
    padding: 50px;
    text-align: center;
  }
  #inicio img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    width: 100%;
  }
  
  .auth-buttons, .calendar {
    position: absolute;
    top: 20px;
  }

   /* PARA LOS BOTONES*/
  .auth-buttons {
    right: 20px;
    margin-top: 45px;
    
  }

  .auth-buttons button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 50px;
  }
  /*CAMBIAR EL COLOR DE FONDO DE LOS BOTONES REGISTRO Y INICIO*/
  .auth-buttons button:hover {
    background-color: #555;
  }
  /*CAMBIAR EL COLOR DE FONDO DE LOS BOTONES REGISTRO Y INICIO*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 60px;
  }
  /*CAMBIAR EL FONDO DEL FORMULARIO DE INICIO Y REGISTRO*/
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
  }
  /*CAMBIAR EL COLOR DE LA X*/
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  /*CAMBIAR EL COLOR DE LA X*/
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  .modal form div {
    margin-bottom: 15px;
  }
  .modal form div label {
    display: block;
    margin-bottom: 5px;
  }
  .modal form div input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  /*CAMBIAR EL COLOR DEL CALENDARIO*/
  .calendar {
    right: 200px;
    color: #444;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  iframe {
    border: 0;
    width: 100%; 
    height: 450px;
  }
  /*CAMBIAR EL COLOR DE EVENTOS*/
  .image-section {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    
  }
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  /*CAMBIAR EL COLOR DE EVENTOS Y VIDEOS Y ESO*/
  .event-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #94ecf3;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  .event-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  .event-item video {
    width: 150px;
    height: auto;
    margin-left: 20px;
  }
  .event-item h3 {
    margin: 0 0 10px;
    
  }
  
  /* Estilos para los paquetes */
  .paquetes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  .paquete {
    background-color: rgb(122, 174, 248);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .paquete h3 {
    margin-top: 0;
    text-align: center;
    
  }
  .paquete img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  /* PARA CAMBIAR EL TAMAÑO DE LA IMAGEN EN GALERIA*/
  #galeria {
    text-align: center; 
  }
  
  #galeria img {
    max-width: 200px;
    height: auto;
    margin: 5px auto; 
    display: block; 
  }
  /* CAMBIAR EL ESTILO DEL CALENDARIO */
  .Bloq, .Bloq2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .calendario, .calendario2 {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 2px;
    margin: 0 auto; 
    border: 2px solid #000000; 
    border-radius: 4px; 
    background-color: #fff; 
  }
  
  .calendario th, .calendario td, .calendario2 th, .calendario2 td {
    border: 1px solid #000000; 
    padding: 8px; 
    text-align: center;
  }
  
  .calendario th {
    background-color: #f2f2f2; 
  }
  
  .calendario2 td {
    background-color: #fff; /* Fondo blanco para las celdas */
  }
  
  .calendario td input[type="radio"] {
    display: none; /* Oculta los botones de radio para que solo se vean los números */
  }
  
  .calendario td:hover {
    background-color: #36ffd0; /* Color de fondo al pasar el mouse sobre una celda */
  }
  
  /*Para el estilo de los comentarios */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.comment-section {
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #deffff;
    border: 1px solid #054d69;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; /* Agrega una transición suave para el cambio de tamaño */
}

.comment-section.minimized {
    width: 200px; /* Ajusta el ancho cuando está minimizado */
    height: 50px; /* Ajusta la altura cuando está minimizado */
    overflow: hidden; /* Oculta el contenido cuando está minimizado */
    padding: 10px; /* Ajusta el relleno cuando está minimizado */
}

.toggle-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10; /* Asegúrate de que el botón esté encima del contenido */
}

.toggle-button:hover {
    background-color: #0056b3;
}

.minimized-label {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-title {
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive; /* Aplica la fuente Dancing Script al título */
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 700; /* Usa un peso más fuerte si es necesario */
}

.comment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-box textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    height: 50px;
    font-size: 14px;
}

.comment-box button {
    align-self: flex-end;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-box button:hover {
    background-color: #0056b3;
}

.comment-list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-height: 150px;
    overflow-y: auto;
    flex-grow: 1;
}

.comment-item {
    display: flex;
    flex-direction: column; /* Asegura que los botones estén uno debajo del otro */
    margin-bottom: 10px;
}

.comment-item img {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.comment-content {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.comment-content h4 {
    margin: 0;
    font-size: 14px;
    color: #007bff;
}

.comment-content p {
    margin: 5px 0 0;
    font-size: 14px;
}

.comment-meta {
    display: flex; /* Usa flexbox para alinear los elementos en una fila */
    justify-content: space-between; /* Espacia los elementos a ambos extremos */
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.comment-date {
    text-align: left; /* Alinea el texto a la izquierda */
}

.reply-button, .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px; /* Espacio entre los botones */
}

.reply-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.delete-button {
    background-color: #dc3545;
}

.response-box {
    margin-top: 10px;
}

.response-box textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.response-box button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #67a811;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-box button:hover {
    background-color: #1eb300;
}

.response-item {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}



/* Estilo para el enlace de registrar */
.register-link {
    display: inline-block;
    background-color: #007bff; /* Color de fondo del enlace */
    color: #fff; /* Color del texto del enlace */
    padding: 5px 15px; /* Espaciado alrededor del texto */
    border-radius: 12px; /* Bordes redondeados para parecer una etiqueta */
    font-size: 14px; /* Tamaño de la fuente */
    text-align: center;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para cambios de color */
}

.register-link:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    color: #e0e0e0; /* Color del texto al pasar el mouse */
}

.register-link:active {
    background-color: #003d80; /* Color de fondo cuando se hace clic */
}

.register-link:focus {
    outline: none; /* Elimina el borde de enfoque */
}


/* Estilo para el enlace de registrar */
.register-link {
    display: inline; /* Se comporta como texto en línea */
    color: #007bff; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    margin-top: 10px; /* Espaciado superior para separarlo del textarea */
}

.register-link:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse para indicar interactividad */
    color: #0056b3; /* Color del texto al pasar el mouse */
}

.register-link:active {
    color: #003d80; /* Color del texto cuando se hace clic */
}

.register-link:focus {
    outline: none; /* Elimina el borde de enfoque */
}